# Ignore binaries
apps/cloudflare-dyndns/bin
apps/simple-fileserver/bin
apps/speedtest-exporter/bin

# Ignore files created for testing
apps/*/test-config.yaml

# Generated go-test coverage reports
coverprofiles/
