---
name: Build Container

on:
  workflow_dispatch:
    inputs:
      app:
        description: "The name of the app"
        type: string
        required: true
      dockerfile:
        description: "Use to override Dockerfile path"
        type: string
        default: "Dockerfile"
        required: false
      tag:
        description: "Use to override the tag"
        type: string
        default: "rolling"
        required: false
      dry-run:
        description: "Use to disable pushing"
        type: boolean
        default: false
        required: false
  workflow_call:
    inputs:
      app:
        description: "The name of the app"
        type: string
        required: true
      dockerfile:
        description: "Use to override Dockerfile path"
        type: string
        default: "Dockerfile"
        required: false
      tag:
        description: "Use to override the tag"
        type: string
        default: "rolling"
        required: false
      dry-run:
        description: "Use to disable pushing"
        type: boolean
        default: false
        required: false

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@68827325e0b33c7199eb31dd4e31fbe9023e06e3 # v3.0.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce06100226 # v3.0.0

      - name: Log in to the ghcr.io
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
        if: ${{ ! inputs.dry-run }}
        with:
          registry: ghcr.io
          username: "${{ github.actor }}"
          password: "${{ secrets.GITHUB_TOKEN }}"

      - name: Log in to the Dockerhub
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
        if: ${{ ! inputs.dry-run }}
        with:
          username: "${{ secrets.DOCKER_USERNAME }}"
          password: "${{ secrets.DOCKER_TOKEN }}"

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@e6428a5c4e294a61438ed7f43155db912025b6b3 # v5.2.0
        with:
          images: |
            "${{ secrets.DOCKER_USERNAME }}/${{ inputs.app }}"
            "ghcr.io/${{ github.repository_owner }}/${{ inputs.app }}"
          tags: |
            "${{ inputs.tag }}"
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push Docker image
        uses: docker/build-push-action@4a13e500e55cf31b7a5d59a38ab2040ab0f42f56 # v5.1.0
        with:
          context: "apps/${{ inputs.app }}/"
          platforms: linux/amd64,linux/arm64
          file: "apps/${{ inputs.app }}/${{ inputs.dockerfile }}"
          push: ${{ ! inputs.dry-run }}
          tags: "${{ steps.meta.outputs.tags }}"
          labels: "${{ steps.meta.outputs.labels }}"
