---
name: Build bitwarden-serve

on:
  workflow_dispatch:
  workflow_call:
  push:
    branches: [main]
    paths:
      - "apps/bitwarden-serve/Dockerfile"
      - "apps/bitwarden-serve/*.sh"
  pull_request:
    branches: [main]
    paths:
      - "apps/bitwarden-serve/Dockerfile"
      - "apps/bitwarden-serve/*.sh"
      - ".github/workflows/build-bitwarden-serve.yaml"
  merge_group:
    branches: ["main"]

jobs:
  metadata:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    permissions:
      contents: read
    outputs:
      version: "${{ steps.version.outputs.cli-version }}"

    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Extract bitwarden-cli version
        id: version
        run: |
          set -ex
          VERSION_STRING="$(grep "ENV BW_CLI_VERSION=" apps/bitwarden-serve/Dockerfile)"
          VERSION="$(echo "${VERSION_STRING}" | awk -F'=' '{print $2}' | tr -d '"')"
          echo "cli-version=${VERSION#cli-}" >> "$GITHUB_OUTPUT"

  build:
    uses: heathcliff26/ci/.github/workflows/build-container.yaml@main
    needs: metadata
    permissions:
      contents: read
      packages: write
    with:
      app: bitwarden-serve
      tag: "${{ needs.metadata.outputs.version }}"
      dry-run: ${{ github.event_name == 'pull_request' || github.event_name == 'merge_group' }}
      context: apps/bitwarden-serve
    secrets: inherit
