---
name: Test go-fyne-ci

on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    branches: [main]
    paths:
      - "apps/go-fyne-ci/Dockerfile"
      - "apps/go-fyne-ci/test.sh"
      - ".github/workflows/test-go-fyne-ci.yaml"

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Run test script
        run: apps/go-fyne-ci/test.sh
